/*Common*/
.project-name {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #2E157E;
}

.detail-project-place{
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	border-radius: 12px;
	height: auto;
	position: relative;
	/*flex-wrap: wrap;*/
}
.detail-project-place .iframe-pdf{
	border-radius: 12px 0px 0px 12px;
	width: 90%;
	height: 600px;
}
.detail-project-place .iframe-pdf-disabled{
	background-color: #D3D3D3;
	width: 90%;
	height: 600px;
	border-radius: 12px 0px 0px 12px;
}
.detail-project-place .iframe-pdf-disabled .icon{
	padding-top: 150px;
	/*background-color: red;*/
}
.detail-project-place .iframe-pdf-disabled .title-icon{

	font-family: "poppins-medium";
	font-size: 20px;
	/*background-color: blue;*/
}
.detail-project-place .iframe-pdf-disabled .desc-icon{

	font-family: "poppins-regular";
	font-size: 20px;
	width: 368px;
	/*background-color: blue;*/
}
.detail-project-place .content{
	width: 60%;
	padding: 36px 0 0 36px;
}
.detail-project-place .content .btn-next{
	width: 158px;
	height: 46px;
	margin: 70px 10px 0 0;
}
.detail-project-place .content .btn-next:disabled{
	background-color: #BDBDBD;
	color: #ffffff;
	border-radius: 6px;
	border: none;
}
.detail-project-place .group-info{
	padding: 36px 10px 0 0;
}
.detail-project-place .title{
	font-family: "poppins-medium";
	font-size: 24px;
	font-weight: 600;
}

/*Checking Request*/
.detail-project-place .group-info .label-title{
	font-family: "poppins-regular";
	font-size: 16px;
	padding: 0 0 12px 0;
	font-weight: 600;
}
.detail-project-place .group-info .label-desc{
	font-family: "poppins-regular";
	font-size: 16px;
	padding: 0 0 24px 0;
}

/*Choose Available inspector*/
.detail-project-place-choose-inspector{
	padding: 40px;
	background-color: #ffffff;
	border-radius: 12px;
	height: auto;
}
.detail-project-place-choose-inspector .choose-title{
	color: #2E157E;
	font-weight: 600;
	font-size: 16px;
	font-family: "poppins-regular";
}
.detail-project-place-choose-inspector .choose-note{
	color: #232323;
	font-weight: 400;
	font-size: 16px;
	font-family: "poppins-regular";
}
.detail-project-place-choose-inspector .card-place{
	display: flex;
	flex-wrap: wrap;
	/* align-items: space-between; */
	justify-content: space-between;
}
.detail-project-place-choose-inspector .card-place .card-inspector{
	width: 460px;
	margin-bottom: 10px;
	border: 1.5px solid #2E157E;
	border-radius: 6px;
	padding: 20px;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content{
	display: flex;
	justify-content: space-around;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .profile{
	flex: 3;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .description{
	flex: 8;
	padding: 40px 0 0 60px;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .name{
	color: #232323;
	font-weight: 600;
	font-size: 16px;
	font-family: "poppins-regular";
	text-align: center;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .profile .photo-profile{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 16px 0 16px 0;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .content{
	font-size: 14px;
	font-family: "poppins-regular";
	color: #232323;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .description .btn-place{
	padding-top: 16px;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .description .btn-aggree{
	background-color: #2E157E;
	border-radius: 6px;
	width: 115px;
	height: 36px;
	border: none;
	color: white;
}
.detail-project-place-choose-inspector .card-place .card-inspector .card-inspector-content .description .btn-disagree{
	background-color: #E10000;
	border-radius: 6px;
	width: 115px;
	height: 36px;
	border: none;
	color: white;
}









/*Project on Process*/
.detail-project-place .content .btn-project-process-place{
	position: absolute;
	bottom: 36px;
	right: 15px;
	margin: 0 auto;
}
.detail-project-place .content .btn-revision{
	width: 158px;
	height: 46px;
	margin: 0 24px 0 0;
	border: none;
	background: #18A0FB;
	border-radius: 6px;
	color: #ffffff;
	font-family: "poppins-regular";
	font-size: 16px;
}
.detail-project-place .content .btn-revision{
	background-color: #BDBDBD;
	color: #ffffff;
	border-radius: 6px;
	border: none;
}

/* Project revision */
.revision-place{
    margin: 45px 0 0 0;
}

.revision-place .title{
    font-family: "Poppins-Medium";
    color: #2E157E;
    font-weight: 500;
    font-size: 24px
}
.revision-place .table-revision-place-place{
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 20px 0 0 0;
}
.revision-place .table-revision-place-place table{
    font-family: "poppins-regular";
}
.revision-place .table-revision-place-place table th{
    color: #232323;
    border: none;
    padding-bottom:35px;
}
.revision-place .table-revision-place-place table td{
    color: #232323;
    font-size: 16px;
}
.revision-place .table-revision-place-place table td .btn-view{
	width: 114px;
	border-radius: 6px;
	margin-right: 10px;
	background: #2E157E;
	border: none;
}
.revision-place .table-revision-place-place table td .btn-download{
	width: 114px;
	border-radius: 6px;
	margin-left: 10px;
	border: none;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #ffffff; 
}

/* Icons */
.icons-text-container {
	width: 100%;
    height: 160px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.alifia {
	width: 700px;
	height: 80px;
	margin: 0px 0px 0px 0px;
}

.text-alifi {
	width: 140px;
	color: #2E157E;
	font-weight: normal;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
}

.text-1 {
	margin-left: 140px;
}

.text-2 {
	margin-left: 280px;
}

.text-3 {
	margin-left: 420px;
}

.text-4 {
	margin-left: 560px;
}


.alifia .circle {
	width:70px; 
	float:left; 
	height: 70px; 
	border-radius:50%; 
	border:2px solid #BDBDBD; 
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.alifia .circle-active {
	width:70px; 
	float:left; 
	height: 70px; 
	border-radius:50%; 
	border:2px solid #2E157E; 
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.alifia .line {
	width:70px; 
	margin-top:35px; 
	float:left; 
	border:1px solid #BDBDBD; 
	text-align:center
}

.alifia .blank-left {
	width:35px; 
	margin-top:35px; 
	float:left; 
	border:1px solid rgba(red, green, blue, 0.0); 
	text-align:center
}

.alifia .line-active {
	width:70px; 
	margin-top:35px; 
	float:left; 
	border:1px solid #2E157E; 
	text-align:center
}

