.settings-profile-place {
    /*margin: 31px 0 0 0;*/
    display: flex;
    justify-content: space-between;
}


/*Form Edit profile*/

.settings-profile-place .form-edit-profile-place {
    padding: 24px 36px 0 36px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin: 0 34px 0 0;
}

.settings-profile-place .form-edit-profile-place .title {
    font-family: "poppins-medium";
    font-weight: 500;
    font-size: 28px;
}

.settings-profile-place .form-edit-profile-place .photo-profile-place {
    padding: 18px 0 0 0;
    display: flex;
    align-items: center;
}

.settings-profile-place .form-edit-profile-place .photo-profile-place .photo-profile {
    background-color: #C4C4C4;
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.settings-profile-place .form-edit-profile-place .photo-profile-place .btn-upload-photo {
    width: 250px;
    height: 38px;
    background: #18A0FB;
    border-radius: 6px;
    color: #ffffff;
    margin: 0 0 0 32px;
    font-family: "poppins-regular";
}

.settings-profile-place .form-edit-profile-place .photo-profile-place .btn-delete-photo {
    width: 115px;
    height: 36px;
    background: #E0E0E0;
    border-radius: 6px;
    margin: 0 0 0 32px;
    font-family: "poppins-medium";
    font-weight: 600;
    border: none;
}

.form-edit-profile-place .input-edit-profile-place {
    padding: 50px 0 0 0;
}

.form-edit-profile-place .input-edit-profile-place label {
    padding: 0 0 12px 0;
    font-family: "poppins-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.form-edit-profile-place .input-edit-profile-place .form-control {
    height: 48px;
    background-color: #F9F8FB;
    border-radius: 6px;
    border: none;
    box-shadow: none;
}

.form-edit-profile-place .input-edit-profile-place .btn-edit-profile {
    width: 158px;
    height: 46px;
    background-color: #2E157E;
    color: #ffffff;
    border-radius: 6px;
    font-family: "poppins-regular";
    font-size: 16px;
    margin: 0 0 24px 0;
}


/*Info Porifle*/

.settings-profile-place .info-profile {
    background-color: #ffffff;
    width: 50%;
    height: 300px;
    border-radius: 12px;
    text-align: center;
}

.settings-profile-place .info-profile .info-photo-profile {
    margin: 0 auto;
    margin-top: 34px;
    background-color: #C4C4C4;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.settings-profile-place .info-profile .text-username {
    padding-top: 18px;
    font-family: "poppins-medium";
    font-size: 20px;
}

.settings-profile-place .info-profile .text-email {
    font-family: "poppins-regular";
    font-size: 16px;
}

.settings-profile-place .info-profile .text-phone {
    padding-top: 15px;
    font-family: "poppins-regular";
    font-size: 16px;
}

.new-password-icon {
    font-size: 20px;
    float: right;
    margin-right: 17px;
    margin-top: -33px;
    position: relative;
    z-index: 2;
    color: rgba(46, 21, 126, 0.4);
}

